// .example-radio-group {
//     display: flex;
//     flex-direction: column;
//     margin: 15px 0;
//     align-items: flex-start;
//   }
  
//   .example-radio-button {
//     margin: 5px;
//   }

.mycontainer{
  // margin:10px;
  padding: 10px;
//  margin-top: 25%;
// background-color: black;
  // background-color: rgba(0, 0, 0, 0.874) ;
  // backdrop-filter: blur(10px);
  background-color: transparent;
  // height: 110vh;


}


.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .filter{
    float: left;
    font-weight: 400;
    font-size:small;
    margin-left: 10px;
    color: #FFFFFF;
    
  }

  .clear{
    float: right;
    margin-right: 10px;
    font-style: italic;
    text-decoration-line: underline;
    color: #FFFFFF;
    
  }

  .sidebar-header-div{
    background-color: #14131355;
    color: white;
    margin-top: 10px;
  }

  .sidebar-select{
 
    height: 60px;
    width: 180px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    align-items:center ;
  }

  .custom-select{
    height: 35px;
    width: 190px;
    margin-left: 10px;
    margin-top: -10px;
    background-color: #a1a1a14a;
    color: #FFFFFF;
    font-size: small;
    padding: 5px 10px;
    border: none;
  }

  .select-options{
    color: black;
    background-color: #FFFFFF;
    border-radius: 0%;
    margin: 5px 0;
  }

  .sidebar-header{
    font-weight: 500;
    font-size: smaller;
    margin-left: 10px;
  }

  .sidebar-header2{
    font-size: small;
    margin-left: 10px;
    color: yellow;

  }

  .sidebar-heading{
    font-size: small;
    font-weight: 400;
    margin-left: 10px;
    color: #FFFFFF;
    margin-top: 20px;
  }





  // .select-field{
  //   background-color: #00000029;
  //   height: 80px;
  //   // width: 100px;
  // }

.checkbox-div{
  padding: 8px 2px;
  background-color: #505050;
  margin: 5px 0;
  display: flex;
  border-radius: 5px;
  color: white;
}

  .custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: background-color 0.3s;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .custom-checkbox:checked {
    background-color: #526232;
  }
  
  .custom-checkbox:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .custom-label{
    padding-top: 3px;
   
  }
  



  .mat-select{
    height: 15px;
    // background-color: #505050;
    
  }