
    <div class="example-button-container">
        <button mat-raised-button routerLink="/dashboard" class="header-button" routerLinkActive="active">
                Team Member Availability
        </button>
        <button mat-raised-button routerLink="/task" class="header-button" routerLinkActive="active">Task Edits</button>
        <button mat-raised-button routerLink="/floor-view" class="header-button" routerLinkActive="active">Floor View</button>
        <button mat-raised-button routerLink="/building-view" class="header-button" routerLinkActive="active">Building View</button>
    </div>